              </div>
              <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    <p class="mb-1">2016 &copy; Bharat Sanchar Nigam Limited. ALL Rights Reserved.</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Developed by Nimit Patel - JTO Rajkot</cite></footer>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/lcreport.js"></script>
