.mya:hover {
  text-decoration: none;
}

.legend {
  height: auto;
  width: 100%;
  bottom: 10%;
}

.legend > ul {
  padding: 0;
  text-align: center;
}

.legend li {
  margin: 5px 3px;
  display: inline-table;
}

.legend li span {
  position: relative;
  padding: 3px 10px;
  border-radius: 13px;
  color: white;
  z-index: 2;
  font-size: 0.8rem;
}
