<div class="mt-2">
  <% if(primary.length > 0) { %>
  <div class="alert alert-primary small text-center" role="alert"><%= primary %></div>
  <% } %> <% if(success.length > 0) { %>
  <div class="alert alert-success small text-center" role="alert"><%= success %></div>
  <% } %> <% if(warning.length > 0) { %>
  <div class="alert alert-warning small text-center" role="alert"><%= warning %></div>
  <% } %> <% if(error.length > 0) { %>
  <div class="alert alert-danger small text-center" role="alert"><%= error %></div>
  <% } %>
</div>
