<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSNL PORTAL</title>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/lcreport.css" rel="stylesheet" />
    <link href="/css/mycss.css" rel="stylesheet" />

    <!-- Custom styles for Data Table -->
    <link rel="stylesheet" href="/vendor/datatables/datatables.min.css" />
  </head>

  <body id="page-top">
    <div id="loading"></div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/users/dashboard">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-volleyball-ball"></i>
          </div>
          <div class="sidebar-brand-text mx-3">BSNL Portal</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <% if(currentUser && currentUser.role && currentUser.isActive === true) { %>

        <!-- Heading -->
        <div class="sidebar-heading">Dashboard</div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/users/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Order</div>

        <!-- Nav Item - Order Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#pendingOrder"
            aria-expanded="true"
            aria-controls="pendingOrder"
          >
            <i class="fab fa-atlassian"></i>
            <span>Order</span>
          </a>
          <div id="pendingOrder" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/orders">Pending</a>
              <a class="collapse-item" href="/orders?isActive=0">Completed</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <!-- <div class="sidebar-heading">Feasibility</div> -->

        <!-- Nav Item - Feasibility Collapse Menu -->
        <!-- <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#feasibilityPage"
            aria-expanded="true"
            aria-controls="reportPage"
          >
            <i class="fas fa-check"></i>
            <span>Feasibility</span>
          </a>
          <div id="feasibilityPage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/feasibilities">Pending</a>
              <a class="collapse-item" href="/feasibilities?pending=0">Completed</a>
              <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
              <a class="collapse-item" href="/feasibilities/new">New</a>
              <% } %>
            </div>
          </div>
        </li> -->

        <!-- Nav Item - Unit Collapse Menu -->
        <!-- <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#unitPage"
            aria-expanded="true"
            aria-controls="reportPage"
          >
            <i class="fab fa-buromobelexperte"></i>
            <span>Unit</span>
          </a>
          <div id="unitPage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/units">Unit</a>
              <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
              <a class="collapse-item" href="/units/new">New</a>
              <% } %>
            </div>
          </div>
        </li> -->

        <!-- Divider -->
        <!-- <hr class="sidebar-divider" /> -->

        
        <% if (currentUser.role === 'ADMIN' || currentUser.role === 'NO') { %>
        <!-- Nav Item - User Collapse Menu -->
        <div class="sidebar-heading">User</div>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#userPage"
            aria-expanded="true"
            aria-controls="reportPage"
          >
            <i class="fas fa-user"></i>
            <span>User</span>
          </a>
          <div id="userPage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/users">User</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <% } %> <% if (currentUser.role === 'ADMIN') { %>
        <!-- Nav Item - Area Collapse Menu -->
        <div class="sidebar-heading">Area</div>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#areaPage"
            aria-expanded="true"
            aria-controls="reportPage"
          >
            <i class="fas fa-user"></i>
            <span>Area</span>
          </a>
          <div id="areaPage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/areas">Area</a>
              <a class="collapse-item" href="/areas/new">New</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />
        <% } %> <% } %>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <% if(currentUser && currentUser.role) { %>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <%= currentUser.firstname ? currentUser.firstname : '' %> <%= currentUser.lastname ? currentUser.lastname : '' %>
                  </span>
                  <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="/users/<%= currentUser._id %>/edit">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Signout
                  </a>
                </div>
              </li>
            </ul>
            <% } %>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <%- include('./flash') %>
            <!-- ******************************************************************************************************* -->

