<%- include ('../partial/header') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <h5 class="h6 mb-0 text-gray-800">Role: <span id="role"><%= currentUser.role %></span></h5>
</div>

<% if(currentUser && currentUser.role && currentUser.area) { %>
<!-- Content Row -->
<div class="row">
  <!-- New Order -->
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?orderType=NEW" class="mya">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">NEW</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="newOrder"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-plus fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Modify Order -->
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?orderType=MODIFY" class="mya">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">MODIFY</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="modifyOrder"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Conversion Order -->
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?orderType=CONVERSION" class="mya">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CONVERSION</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="conversionOrder"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Delete Order -->
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?orderType=DELETE" class="mya">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">DELETE</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="deleteOrder"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-trash-alt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <!-- Shift Create Order -->
  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?orderType=SHIFT CREATE" class="mya">
      <div class="card border-left-secondary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">SHIFT CREATE</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="shiftCreate"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-walking fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?orderType=SHIFT DELETE" class="mya">
      <div class="card border-left-light shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-light text-uppercase mb-1">SHIFT DELETE</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="shiftDelete"></div>
            </div>
            <div class="col-auto">
              <i class="fab fa-atlassian fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders" class="mya">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOTAL PENDING</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalOrder"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-folder-open fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <a href="/orders?isActive=0" class="mya">
      <div class="card border-left-dark shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">ALL COMPLETED</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="allCompleted"></div>
            </div>
            <div class="col-auto">
              <i class="far fa-thumbs-up fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Content Row -->

<div class="row">
  <% if (currentUser.role === 'NO' || currentUser.role === 'ADMIN') { %>
  <!-- Pie Chart Pending Feasibility Agency Wise -->
  <!-- <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pending Feasibility Agency Wise</h6>
      </div>
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="agency_feasibilities"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="agency_feasibilitiesLegend"></div>
      </div>
    </div>
  </div> -->

  <!-- Pie Chart Pending Order Agency Wise -->
  <!-- <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pending Order Agency Wise</h6>
      </div>

      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="agency_orders"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="agency_ordersLegend"></div>
      </div>
    </div>
  </div> -->
  <% } %>

  <!-- Pie Chart Pending Order Type wise -->
  <!-- <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pending Order Type Wise</h6>
      </div>
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="orderType_orders"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="orderType_ordersLegend"></div>
      </div>
    </div>
  </div> -->

  <!-- Pie Chart Pending Order Reason Wise -->
  <!-- <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pending Order Reason Wise</h6>
      </div>
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="reason_orders"></canvas>
        </div>
        <div class="mt-4 text-center small legend" id="reason_ordersLegend"></div>
      </div>
    </div>
  </div> -->
</div>

<!-- /.container-fluid -->

<% } %> <%- include ('../partial/footer') %>

<!-- Page level custom scripts -->
<script src="/js/users/dashboard.js"></script>

<%- include ('../partial/footer2') %>
